extends layout.pug 

block page_title
  title To jest titul strony 

block greeting
  h1 Halo Swiat!

block software_engineer
  p Niewiem jak to powiedziec!
  img(src="/images/earth.jpg" alt="Swiat" title="Swiat")